/* all p tag which are in div tag */
/* div p{
  color: red;
} */

/* div next to p */
/* div > p{
  color:crimson;
} */

/* adjacent p to div */
/* div * p{
   color: chartreuse;
}   */

/* ~ ke foron baad p */
div ~ p {
    color: darkblue ;
}


